<div layout="column" ng-cloak="" class="md-inline-form">
    <md-content md-theme="docs-dark" layout-padding="">
        <div layout="row" flex>
            <md-input-container class="md-block" flex>
                <label>Référence</label>
                <input ng-model="vm.site.reference">
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>Site</label>
                <input ng-model="vm.site.localisation">
            </md-input-container>
        </div>
    </md-content>
</div>