md-toolbar.site-operations {
    min-height: 40px;
}

.site-operations span {
    font-size: 14px;
}

.site-operations .md-toolbar-tools {
    max-height: 40px;
}

.site-operations-list {
    padding: 0;
}

.site-operations-list personne {
    text-align: end;
    font-size: 12px;
}

.site-operations-list .duree-travaux {
    font-size: 12px;
    line-height: 18px;
}